<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SPS_Lab1.Properties.Settings.clientsConnectionString"
            connectionString="server=localhost;user id=root;password=Qwerty2122;database=clients;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="SPS_Lab1.Properties.Settings.clientsConnectionString1"
            connectionString="server=localhost;user id=root;password=Qwerty2122;database=clients;persistsecurityinfo=True;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>